<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/headInclude.ejs') %>
    </head>
    <body>
        <div class="backdrop"></div>
        <%- include('../includes/navigationInclude.ejs') %>
            <main>
                <% if (items) { %>
                    <div class="grid">
                        <% for (let item of items) { %>
                            <article class="card item">
                                <header class="card__header">
                                    <h1 class="item__name">
                                        <a href="/user/cart/item-list/<%= item.uuid %>"><%= item.name %></a>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= item.imageUrl %>" alt="<%= item.name %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="item__price">$
                                        <%= item.price %>
                                    </h2>
                                    <p class="item__description">
                                        <%= item.description %>
                                    </p>
                                </div>
                            </article>
                        <% } %>
                    </div>
                <% } else { %>
                    <h1>No items Found!</h1>
                <% } %>
            </main>
        
        <!-- load javascript files -->
        <% include('../includes/scriptsInclude.ejs') %>

        <!-- display errors -->
        <% if(errorsArray.length > 0){ %>
            <script>
            errorAlert('<%= errorsArray %>');
            </script>
        <% } %>
    </body>
</html>
